
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Order has been placed successfully!</h2><br /><br />

<div class="heads">
@Html.ActionLink("Here", "Index", "Home")
 </div>